/*------------------------------------*\
    #CSS RESET
\*------------------------------------*/

*{
    box-sizing: border-box;
    margin: 0;
}

/*------------------------------------*\
    Front Page
\*------------------------------------*/
body{
    position: absolute;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'sidebar main';
}

button{
    all: unset;
    border-radius: 5px;
    text-align: center;
}
/**********    Side Bar    ***********/
#sidebar{
    background-color: #2d2d44;
    grid-area: sidebar;
    height: 100vh;
    display:grid;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-areas: 'title' 'projects' 'add-project';
    color: white;
    padding: 15px;
    position: sticky;
    top: 0px;
    gap: 20px;
}

/*
    ## App header and add project
*/
#sidebar h1{
    font-size: 30px;
    grid-area: title;
}

#add-project{
    background-color: rgb(61,61,92);
    grid-area: add-project;
    margin-top: 10px;
}
/*
    ## Project Items
*/
.project-item{
    display: flex;
    justify-content: space-between;
    background-color: rgb(61,61,92);
    border-radius: 5px;
    padding: 8px 20px 8px 10px;
    margin-bottom: 5px;
}
.project-item h2{
    display: inline;
    font-size: 15px;
}

/**********    Main Content    ***********/
#main{
    background-color: #f4f4f9;
    grid-area: main;
    padding: 20px;
}

#todo-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#add-todo-item{
    margin: 20px 0px;
    background-color: rgb(255,179,179);
    color:rgb(61,61,92);
    padding: 5px 15px;
}
/*
    ## To-do items
*/
.todo-item{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: rgb(85,85,85);
}

.todo-item .title-line{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    gap: min(30px);
}

.todo-title,.checklist{
    color: black;
}

.todo-item .todo-actions{
    display: flex;
    gap: min(10px);
}

.todo-item ul{
    list-style-type: '▢ ';
}