/*------------------------------------*\
    #CSS RESET
\*------------------------------------*/

*{
    box-sizing: border-box;
    margin: 0;
}

button{
    all: unset;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
input{
    all: unset;
    border: solid black 1px;
    padding: 0 5px;
}
ul{
    list-style: none;
    padding-left: 0.5em;
    margin-left: 1.5em;
}

/*------------------------------------*\
    Front Page
\*------------------------------------*/
body{
    position: absolute;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'sidebar main';
}


/**********    Side Bar    ***********/
#sidebar{
    background-color: #2d2d44;
    grid-area: sidebar;
    height: 100vh;
    display:grid;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-areas: 'title' 'projects' 'add-project';
    color: white;
    padding: 15px;
    position: sticky;
    top: 0px;
    gap: 20px;
}

/*
    ## App header and add project
*/
#sidebar h1{
    font-size: 30px;
    grid-area: title;
}

#add-project{
    background-color: rgb(61,61,92);
    grid-area: add-project;
    margin-top: 10px;
}
/*
    ## Project Items
*/
.project-item{
    display: flex;
    justify-content: space-between;
    background-color: rgb(61,61,92);
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 8px 20px 8px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.project-item h2{
    display: inline;
    font-size: 15px;
}
button.delete-project{
    color: rgb(255,179,179);
}

.project-item.selected{
    border-color: rgb(255,179,179);
}
/**********    Main Content    ***********/
#main{
    background-color: #f4f4f9;
    grid-area: main;
    padding: 20px;
}

#todo-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#add-todo-item{
    margin: 20px 0px;
    background-color: rgb(255,179,179);
    color:rgb(61,61,92);
    padding: 5px 15px;
    font-weight: 600;
}
/*
    ## To-do items
*/
.todo-item{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: rgb(85,85,85);
}

li[status="completed"] span,
[status="completed"].todo-item .todo-title{
    text-decoration: line-through;
}

.todo-item .title-line{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    gap: min(30px);
}

.todo-title{
    display: inline;
}

.todo-item .todo-actions{
    display: flex;
    gap: min(10px);
}

/*    Checklist    */
.todo-title,.checklist{
    color: black;
}

button.add-checklist-item{
    margin-top: 5px;
    background-color: rgb(255,179,179);
    color:rgb(61,61,92);
    padding: 5px 15px;
    font-weight: 600;
    width: fit-content;
}

.todo-item li{
    display: flex;
}
li span::before, .todo-title::before{
    content: "▢";
    margin-right: 0.5em;
}
.todo-item li button{
    color: rgb(255,179,179);
    margin-left: auto;
    text-decoration: none;
    text-decoration-line: none;
}

/*------------------------------------*\
    Modal Dialog Form
\*------------------------------------*/

dialog{
    margin: auto;
    align-self: center;
    border: none;
    border-radius: 10px;
    width: 60%;
    padding: 15px 20px;
    font-size: 13px;
}

dialog::backdrop{
    background-color:rgb(0,0,0,0.7);
}

dialog h3{
    margin-bottom: 20px;
}
label{
    margin-bottom: 10px;
    display: block;
}
input,select{
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 4px;
    background-color: inherit;
    border: black solid 1px;
}
input::placeholder{
    color: #dcdcdc;
}
.dialog-actions{
    display: flex;
    justify-content: end;
    gap: 7px;
}
.dialog-actions button{
    padding: 5px 15px;
    font-weight: 600;
    width: fit-content;
    margin-top: 10px;
}
.cancel-btn{
    background-color: #dcdcdc;
}
.save-btn{
    background-color: rgb(255,179,179);
    color:rgb(61,61,92);
}
